.x-switch {
  box-sizing: border-box;
  position: relative;
  width: 0.4rem;
  height: 0.24rem;
  border-radius: 0.24rem;
  background-color: $switch-fill-inverse;
  &-disabled {
    opacity: $switch-item-color-disabled;
  }
  &::before, &::after {
    content: "";
    position: absolute;
    transition: transform .3s;
  }
  &::before {
    top: 0;
    left: 0;
    width: 0.4rem;
    height: 0.24rem;
    border-radius: 0.12rem;
    background-color: $switch-fill-inverse
  }
  &::after {
    top: 0.02rem;
    left: 0.02rem;
    width: 0.2rem;
    height: 0.2rem;
    background-color: $switch-handle-color;
    border-radius: 50%;
  }
  &.active {
    background-color: $switch-fill;
  }
  &.active::before {
    transform: scale(0)
  }
  &.active::after {
    transform: translateX(0.16rem)
  }
  &.disabled {
    opacity: $opacity-disabled;
    pointer-events: none;
  }
}