.x-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  @include insetTop(0.1rem);
  &-left-arrow {
    width: $font-size-base;
  }
  &-close {
    width: $font-size-base;
    position: absolute;
    left: 0.5rem;
    bottom: 0.1rem;
  }
  &-light {
    background-color: $nomal-bg;
    fill: $gray-600;
    color: #000000;
  }
  &-dark {
    background-color: $dark-bg;
    color: $nomal-bg;
    fill: currentColor;
  }
  &-title {
    font-size: $font-size-base;
    font-weight: 500;
  }
  &-right-text {
    font-size: $font-size-base;
    font-weight: 500;
    color: $gray-600;
  }
}